<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipula Strings</title>
</head>
<body>
    <h1>Manipulador de Strings</h1>
    <form method="post">
        {% csrf_token %}
        <label for="palavra">Digite uma palavra:</label>
        <input type="text" id="palavra" name="palavra" required>
        <button type="submit">Inverter</button>
    </form>
    {% if resultado is not None %}
        <h2>A palavra invertida é: {{ resultado }}</h2>
    {% endif %}
</body>
</html>